/* Updated CSS file content */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* Font family */
    color: #ffffff;
    scroll-behavior: smooth;
}

.content {
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/images/Gradient.png);
    background-size: cover;
    height: 100%;
}

.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.title h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.title p{
    text-align: center;
}

.leaderboard-container {
    display: flex;
    justify-content: center;
    border-radius: 2px;
    padding: 0 10px;
}

.leaderboard-table {
    border-collapse: collapse;
    margin: 0 0 25px 0;
    font-size: 0.9em;   
    width: 100%;
    max-width: 1800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.leaderboard-table thead tr {
    background-color: #02bae7;
    color: #ffffff;
    text-align: left;
}

.leaderboard-table th,
.leaderboard-table td {
    padding: 12px 15px;
}

.leaderboard-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.leaderboard-table tbody tr:nth-of-type(even) {
    background-color: rgba(41, 41, 41, 0.3);
}

.leaderboard-table tbody tr:nth-of-type(odd) {
    background-color: rgba(48, 48, 48, 0.3);
}

.leaderboard-table tbody tr:last-of-type {
    border-bottom: 2px solid #02bae7;
    border-radius: 2px;
}

.leaderboard-table tbody tr.active-row {
    font-weight: bold;
    color: #02bae7;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    max-width: 1800px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
} */

/* Set text color for player names */
.rank09bronze, .rank08silver, .rank07gold, .rank06platinum, .rank03diamond, .rank02master, .rank01grandmaster {
    color: #fff; /* Set the default text color to white */
}

/* Override text color for player names and MMRs in each MMR range */
.rank09bronze td:first-child,
.rank08silver td:first-child,
.rank07gold td:first-child,
.rank06platinum td:first-child,
.rank03diamond td:first-child,
.rank02master td:first-child,
.rank01grandmaster td:first-child,
.rank09bronze td:nth-child(2),
.rank08silver td:nth-child(2),
.rank07gold td:nth-child(2),
.rank06platinum td:nth-child(2),
.rank03diamond td:nth-child(2),
.rank02master td:nth-child(2),
.rank01grandmaster td:nth-child(2) {
    color: inherit !important;/* Use the default text color for the player names and MMRs */
}

/* Set background colors for each MMR range */
tr.rank09bronze:nth-child(4n+1),
tr.rank08silver:nth-child(4n+1),
tr.rank07gold:nth-child(4n+1),
tr.rank06platinum:nth-child(4n+1),
tr.rank03diamond:nth-child(4n+1),
tr.rank02master:nth-child(4n+1),
tr.rank01grandmaster:nth-child(4n+1) {
    background-color: #303030; /* Dark gray pattern */
}

tr.rank09bronze:nth-child(4n+2),
tr.rank08silver:nth-child(4n+2),
tr.rank07gold:nth-child(4n+2),
tr.rank06platinum:nth-child(4n+2),
tr.rank03diamond:nth-child(4n+2),
tr.rank02master:nth-child(4n+2),
tr.rank01grandmaster:nth-child(4n+2) {
    background-color: #404040; /* Slightly darker shade */
}

tr.rank09bronze:nth-child(4n+3),
tr.rank08silver:nth-child(4n+3),
tr.rank07gold:nth-child(4n+3),
tr.rank06platinum:nth-child(4n+3),
tr.rank03diamond:nth-child(4n+3),
tr.rank02master:nth-child(4n+3),
tr.rank01grandmaster:nth-child(4n+3) {
    background-color: #303030; /* Dark gray pattern */
}

tr.rank09bronze:nth-child(4n+4),
tr.rank08silver:nth-child(4n+4),
tr.rank07gold:nth-child(4n+4),
tr.rank06platinum:nth-child(4n+4),
tr.rank03diamond:nth-child(4n+4),
tr.rank02master:nth-child(4n+4),
tr.rank01grandmaster:nth-child(4n+4) {
    background-color: #404040; /* Slightly darker shade */
}
